body {
  background-color: #d3d3d3; /* Fondo gris claro */
  font-family: Arial, sans-serif;
}

.membership-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
}

.membership-card {
  background-color: #333333;
  color: white;
  width: 20%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.membership-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.membership-card p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.membership-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
}

.membership-container .membership-card h2 span {
  color: greenyellow;
}

.membership-container .membership-card h2,
.membership-container .membership-card p span {
  font-size: 2.5rem;
}
/* Imagen del producto con borde y ajuste */
.product-img {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

/* Precio en color amarillo */
.price {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Estilo para el título en el header */
header h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.card {
  height: 530px;
}

.card-img-top {
  height: 55%;
}

.logo {
  height: 150px;
  margin: auto;
}
